body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    display: flex;
    flex-wrap: wrap;

}
.project-list{
    width: 20vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;

}
#projects{
    height: 40vh;
}
#usersAvailable{
    height: 40vh;
}
.new-project{
    width: 70vw;
    /* background-color: rgb(16, 246, 250); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}
.heading{
    margin-left: 200px;

}
#create-name-input{
    width: 70vw;
    height: 30px;
    border: 2px solid rgb(209, 247, 247);
}
#desc-input{
    width: 70vw;
    height: 70px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    border: none;
}
.date{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#create-btn{
    height: 35px;
    width:150px;
    display: flex;
    margin-top: 150px;
    margin-left: 700px;
    gap: 10px;
    border: none;
}
#date-input > input{
    border: 2px solid cyan;
    width: 150px;
    height: 30px;
}
button:hover{
    background-color: hsl(177, 100%, 67%);
    border: none;
}
.datepicker {
    position: relative;
    width: 300px;
}

#selected-date {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.calendar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
}

.days-of-week {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    color: cyan;
}

.days-of-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
}

.days-of-month span {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.days-of-month span:hover {
    background-color: #ddd;
}

#selected-date:focus + .calendar,
.calendar:hover {
    display: block;
   
}
#selected-date{
     border: 2px solis cyan;
}







