
body {
  margin: 0;
  padding: 0;
  background-color: #ceddeb;
}

.container {
  width: 70vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  background-color:whitesmoke;
}

#login-form {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}


.btn-primary {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

/
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.img-container img {
  height: 70vh;
  object-fit: cover;
}
