body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f7fc; /* Adjusted background color to match colors */
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .create_acc {
    display: flex;
    flex-direction: column;
    width: 30%; /* Set width to match right div */
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 20px; /* Added margin */
  }
  
  #sign_in {
    margin-bottom: 20px;
  }
  
  #sign_in p {
    margin: 0;
  }
  
  .form_input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form_input input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #sign-up-btn {
    width: 80%;
    padding: 10px;
    background-color: #4c9aff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #sign-up-btn:hover {
    background-color: #3b7fcd;
  }
  
  .blue_background {
    width: 30%; /* Set width to match left div */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blue_background img {
    width: 100%; /* Set width to 100% to fill the div */
    border-radius: 10px;
  }
  